#svg {
  border: 1px black solid;
}

.container {
  display: -webkit-flex;
  display: flex;
}

.tools a, #equations {
  margin: 20px;
}

#equations div {
   margin: 5px;
   display:flex;
   flex-wrap: wrap;
}

#equations div span.divisor {
    margin: 10px;
}


.dropdown { display: table-cell; margin: 5px;}
.dropdown dd, .dropdown dt, .dropdown ul { margin:0px; padding:0px; }
.dropdown dd { position:relative; }
.dropdown a, .dropdown a:visited { text-decoration:none; outline:none;}
.dropdown dt a { color: black; display:block; border:1px solid #d4ca9a; width:120px;}
.dropdown dt a span {cursor:pointer; display:block; padding:5px;}
.dropdown dd ul { border:1px solid #d4ca9a; left:0px; padding:0px 0px; position:absolute; top:2px; width:auto; min-width:140px; list-style:none;}
.dropdown dd ul li a { padding:5px; display:block;}

.hidden {display: none !important; }
        